@font-face {
    font-family: countDown1;
    src: url(font/loveBox.ttf);
 }

 @font-face {
    font-family: countDown2;
    src: url(font/toughCookie.otf);
 }

body {
    background-color: black;
}

h2 {
    color: white;
    /* font-family: "Lucida Console", Courier, monospace; */
    font-family: countDown1;
    font-size: 45;
    right: 28%;
    top: 68%;
    position: absolute;
}

.button1 {
    left: 43%;
    top: 68%;
    width: 100;
    position: absolute;
}
.button2 {
    right: 45%;
    top: 68%;
    width: 100;
    position: absolute;
}
.swapImage {
    right: 27%;
    top: 4%;
    position: absolute;
}
.button3 {

    left: 50%;
    top: 87%;
    height: 100;
    position: absolute;
}
.button4 {
    right: 60%;
    left: 42%;
    top: 87%;
    height: 100;
    position: absolute;
}
.conundrumText {
    text-align: left;
}